body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.conteiner { 
    display: flex;
    justify-content: center;
    width: 410px;
    height: 510px;
    margin-top: 30px;
    border-radius: 10px;
}

.wrapper {
    padding-left: 60px ;
    background-color: beige;
}

#photo {
    padding: 200px;
    width: 180px;
    background: url(Home-Page-Scandal-Categorie.png.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

h3 {
    font-family:Noto specimen, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: DM Serif Display, serif;
    font-size: 30px;
    color: black;
}

.wrapper p {
    font-family: Noto specimen, sans-serif;
    font-size: 14px;
    font-weight: 200px;
    color: darkgrey;
}

.price {
    margin-bottom: 50px;
    align-items: initial;
    justify-content:space-evenly;
    display: flex;
}

#main-price {
    font-family: Noto specimen, serif;
    font-size: 30px;
    color: lightgreen;
}

.button {
    background-color: mediumspringgreen;
    padding: 20px 40px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    text-decoration: none;
}